extend module-row

block module-content
  //- CONTENT TABLE
  //- 2-column content blocks
  table.col2Container(align="left")
    tr
      td.textContent
        block left-content

  //- CONTENT TABLE
  table.col2Container(align="right")
    tr
      td.textContentLast
        block right-content
