extend ../modular-template/html
include ../modular-template/modules/module-row
include ../modular-template/modules/1-column
include ../modular-template/modules/2-columns
include ../modular-template/modules/button
include ../modular-template/modules/nested
include ../modular-template/modules/image


block email-body

  - lorem = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."

  +module
    +1-column
      h3 One Column
      br
      = lorem

  +module
    +2-column
      h3 Left Column
      br
      = lorem

    +2-column("last")
      h3 Right Column
      br
      = lorem

  +module("center")
    +button("http://example.com")
      | Purchase now

  +module
    +nested
      +1-column
        h3 One Nested Column
        br
        = lorem

  +module
    +nested
      +2-column
        h3 Left Nested Column
        br
        = lorem

      +2-column("last")
        h3 Right Nested Column
        br
        = lorem

  +module
    +nested("center")
      +1-column
        h3 Callout
        br
        = lorem
      +button("http://example.com")
        | Purchase now
      br

  +module
    +image("http://placekitten.com/g/1120/800")

  +module
    +2-column
      +image("http://placekitten.com/g/520/520")
      br
      h3 Left Column
      br
      = lorem

    +2-column("last")
      +image("http://placekitten.com/g/520/520")
      br
      h3 Right Column
      br
      = lorem

  +module
    +nested
      +1-column
        +image("http://placekitten.com/g/1120/800")

  +module
    +nested
      +2-column
        +image("http://placekitten.com/g/520/520")
        br
        h3 Left Nested Column
        br
        = lorem

      +2-column("last")
        +image("http://placekitten.com/g/520/520")
        br
        h3 Right Nested Column
        br
        = lorem

  +module
    +nested
      +2-column
        +image("http://placekitten.com/g/520/520")

      +2-column("last")
        = lorem
    br
