// FRAMEWORK STYLES
@import 'variables';

#bodyTable {
  height: 100%;
  width: 100%;
}

#emailBody,
.flexibleContainer {
  width: $container-width;
}

.centeringTable {
  width: 100%;
}

.col2Container {
  width: $container-width/2 - 2*$gutter;
}

.flexibleContainerCell {
  padding-top: $gutter;
  padding-right: $gutter;
  padding-left: $gutter;
}

.flexibleImage {
  height: auto;
}

.bottomShim {
  padding-bottom: $gutter;
}

.imageContent,
.imageContentLast {
  padding-bottom: $gutter;
}

.nestedContainerCell {
  padding-top: $gutter;
  padding-right: $gutter;
  padding-left: $gutter;
}

.emailButton {
  width: $button-width;
}
