// FRAMEWORK STYLES

#bodyTable {
  height: 100%;
  width: 100%;
}

#emailBody,
.flexibleContainer {
  width: $container-width;
}

.centeringTable {
  width: 100%;
}

.col2Container {
  width: $container-width/2 - 2*$gutter;

  .nestedContainerCell & {
    width: $container-width/2 - 3*$gutter;
  }
}

.emailCalendar,
.calendarContainerLeft {
  width: $calendar-width;
}

.calendarContainerRight {
  width: $container-width - $calendar-width - 4*$gutter;

  .nestedContainerCell & {
    width: $container-width - $calendar-width - 6*$gutter;
  }
}

.flexibleContainerCell {
  padding-top: $gutter;
  padding-right: $gutter;
  padding-left: $gutter;
}

.bottomShim {
  padding-bottom: $gutter;
}

.flexibleImage {
  height: auto;
  max-width: 100%;
}

.imageContent,
.imageContentLast {
  padding-bottom: $gutter;

  .textContent & {
    padding-bottom: 0;
  }
}

.nestedContainer {
  width: 100%;
}

.nestedContainerCell {
  padding-top: $gutter;
  padding-right: $gutter;
  padding-left: $gutter;
}

.emailButton {
  width: $button-width;
}

.emailCalendar {
  & > tr > td {
    padding: 5px;
  }

  & > tr > td > table {
    width: 100%;
  }
}
