// GENERAL STYLES
@import 'variables';

body,
#bodyTable {
  background-color: $primary-background-color;
}

#bodyCell {
  padding-top: 2*$gutter;
  padding-bottom: 2*$gutter;
}

#emailBody {
  background-color: $content-background-color;
  border: 1px solid $primary-border-color;
  border-collapse: separate;
  border-radius: $primary-border-radius;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-color;
  font-family: $header-font-family;
  font-size: $header-font-size;
  line-height: $header-line-height;
  text-align: left;
}

.textContent,
.textContentLast {
  color: $text-color;
  font-family: $text-font-family;
  font-size: $text-font-size;
  line-height: $text-line-height;
  text-align: left;
  padding-bottom: $gutter;
}

.textContent a,
.textContentLast a {
  color: $action-color;
  text-decoration: underline;
}

.nestedContainer {
  background-color: $secondary-background-color;
  border: 1px solid $secondary-border-color;
}

.emailButton {
  background-color: $button-background-color;
  border-collapse: separate;
  border-radius: $button-border-radius;
}

.buttonContent {
  color: $white-color;
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-weight;
  line-height: $button-line-height;
  padding: $button-padding;
  text-align: center;
}

.buttonContent a {
  color: $button-text-color;
  display: block;
  text-decoration: none;
}

.emailCalendar {
  background-color: $white-color;
  border: 1px solid $secondary-border-color;
}

.emailCalendarMonth {
  background-color: $calendar-color;
  color: $white-color;
  font-family: $calendar-font-family;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.emailCalendarDay {
  color: $calendar-color;
  font-family: $calendar-font-family;
  font-size: $calendar-font-size;
  font-weight: bold;
  line-height: $calendar-line-height;
  padding-top: $gutter;
  padding-bottom: $gutter;
  text-align: center;
}
